<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.message.mapper.ErMesgboardMapper">
  <resultMap id="BaseResultMap" type="com.yonyou.message.po.ErMesgboard">
    <constructor>
      <idArg column="pk_mesgid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="billPk" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="senderId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sendTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="touser" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dr" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>

  <resultMap id="messageMap" type="com.yonyou.message.po.ErMesgboard">
    <id column="pk_mesgid" property="messageId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="billPk" property="billPk" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="senderId" property="senderId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="userName" property="senderName" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="content" property="content" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendTime" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="touser" property="touser" javaType="java.lang.String" jdbcType="VARCHAR" />


  </resultMap>

  <resultMap id="messageHistoryMap" type="com.yonyou.message.po.ErMesgboard">
    <id column="messageId" property="messageId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="billPk" property="billPk" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="senderId" property="senderId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="senderName" property="senderName" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="content" property="content" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendTime" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="touser" property="touser" javaType="java.lang.String" jdbcType="VARCHAR" />


  </resultMap>
  <resultMap id="messageUseridPkdjhMap" type="com.yonyou.message.po.ErMesgboard">
    <id column="messageId" property="messageId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="billPk" property="billPk" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="senderId" property="senderId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="senderName" property="senderName" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="content" property="content" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendTime" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="touser" property="touser" javaType="java.lang.String" jdbcType="VARCHAR" />


  </resultMap>
  <update id="updateByPrimaryKey" parameterType="java.lang.String">
    update er_mesgboard
    set
      dr = 1
    where messageId = #{messageId,jdbcType=VARCHAR}
  </update>



  <sql id="Base_Column_List">
    messageId, billPk, senderId, senderName, content, sendTime, touser, dr
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="messageMap">
    select
    <include refid="Base_Column_List" />
    from er_mesgboard
    where messageId = #{messageId,jdbcType=VARCHAR} AND dr=0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from er_mesgboard
    where messageId = #{messageId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="messageId" parameterType="com.yonyou.message.po.ErMesgboard">

    insert into er_mesgboard ( billPk, senderId,
      senderName, content, sendTime,
      touser,isall,isread)
    values ( #{billPk,jdbcType=VARCHAR},#{senderId,jdbcType=VARCHAR},
      #{senderName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{sendTime,jdbcType=VARCHAR},
      #{touser,jdbcType=VARCHAR},#{isall,jdbcType=VARCHAR},   CONCAT( ',[',REPLACE(#{isread},',','],[' ) , ']' ) )
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.message.po.ErMesgboard">
    insert into er_mesgboard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        pk_mesgid,
      </if>
      <if test="billPk != null">
        billPk,
      </if>
      <if test="senderId != null">
        senderId,
      </if>
      <if test="senderName != null">
        userName,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="sendTime != null">
        sendTime,
      </if>
      <if test="touser != null">
        touser,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="billPk != null">
        #{billPk,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="touser != null">
        #{touser,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map">
    update er_mesgboard
    <set>
      <if test="record.messageId != null">
        pk_mesgid = #{record.messageId,jdbcType=VARCHAR},
      </if>
      <if test="record.pkdjbh != null">
        billPk = #{record.billPk,jdbcType=VARCHAR},
      </if>
      <if test="record.senderId != null">
        senderId = #{record.senderId,jdbcType=VARCHAR},
      </if>
      <if test="record.senderName != null">
        userName = #{record.senderName,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null">
        sendTime = #{record.sendTime,jdbcType=VARCHAR},
      </if>
      <if test="record.touser != null">
        touser = #{record.touser,jdbcType=VARCHAR},
      </if>
      <if test="record.dr != null">
        dr = #{record.dr,jdbcType=INTEGER},
      </if>
    </set>

  </update>

  <select id="getHistoryMessages" resultMap="messageHistoryMap">
    SELECT
    <include refid="Base_Column_List" /> FROM er_mesgboard
    where billPk = #{0,jdbcType=VARCHAR} and (isall =0 or senderid=#{1,jdbcType=VARCHAR}) and dr=0 OR (billPk = #{0,jdbcType=VARCHAR} and find_in_set((select id from er_user where cuserid =#{1,jdbcType=VARCHAR}),touser) and dr=0)

  </select>

  <select id="selectByUserPkdjh" resultMap="messageHistoryMap">
    select er_mesgboard.messageId,er_mesgboard.billPk,er_mesgboard.senderId,er_mesgboard.senderName,er_mesgboard.sendTime,er_mesgboard.content,er_mesgboard.isread,er_mesgboard.touser
from er_mesgboard ,(select id from er_user where er_user.cuserid=#{0}) user  where
    find_in_set (CONCAT( '[',REPLACE(user.id,',','],[' ) , ']' ),er_mesgboard.isread) and er_mesgboard.isall=1 AND er_mesgboard.billPk=#{1}
  </select>
  <update id="updateUnReadMessage" parameterType="java.util.List">

    <foreach collection="list" item="message" index="index" open="" close="" separator=";">
      update er_mesgboard
      <set>
        isread  = #{message.isread}
      </set>
      WHERE messageid = #{message.messageId};
    </foreach>
  </update>

  <select id="selectByUserBillIds" resultMap="messageHistoryMap">
    select er_mesgboard.messageId,er_mesgboard.billPk,er_mesgboard.senderId,er_mesgboard.senderName,er_mesgboard.sendTime,er_mesgboard.content,er_mesgboard.isread,er_mesgboard.touser
from er_mesgboard ,(select id from er_user where er_user.cuserid=#{userid}) user  where
    find_in_set (CONCAT( '[',REPLACE(user.id,',','],[' ) , ']' ),er_mesgboard.isread) and er_mesgboard.isall=1 AND er_mesgboard.billPk in
    <foreach collection="billids" item="item" open="(" close=")" separator=",">
      #{item.billid}
    </foreach>
  </select>

</mapper>