<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.message.mapper.ErUserMapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.message.po.ErUser" >

      <id column="id" property="id" jdbcType="VARCHAR" />
      <result column="cuserid" property="cuserid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="busness_id" property="busnessId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="usercode" property="usercode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="user_name" property="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="user_phone" property="user_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="user_email" property="user_email" jdbcType="VARCHAR" javaType="java.lang.String" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id,cuserid, busness_id, usercode, user_name, user_phone, user_email
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from er_user
    where cuserid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from er_user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.yonyou.message.po.ErUser" >
    insert into er_user (userid, busness_id, senderId,
      user_name, user_phone, user_email
      )
    values (#{userid,jdbcType=VARCHAR}, #{busnessId,jdbcType=VARCHAR}, #{senderId,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}
      )
  </insert>


  <update id="updateByExampleSelective" parameterType="map" >
    update er_user
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.busnessId != null" >
        busness_id = #{record.busnessId,jdbcType=VARCHAR},
      </if>
      <if test="record.senderId != null" >
        senderId = #{record.senderId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null" >
        user_email = #{record.userEmail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update er_user
    set userid = #{record.userid,jdbcType=VARCHAR},
      busness_id = #{record.busnessId,jdbcType=VARCHAR},
      senderId = #{record.senderId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      user_email = #{record.userEmail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKey" parameterType="com.yonyou.message.po.ErUser" >
    update er_user
    set busness_id = #{busnessId,jdbcType=VARCHAR},
      senderId = #{senderId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <insert id="insertUsers" parameterType="java.util.ArrayList" useGeneratedKeys="true" keyProperty="id">
    INSERT into er_user (cuserid, usercode, user_name, user_phone, user_email) VALUES
    <foreach collection="list" item="user" index="index" separator=",">
      (#{user.cuserid},#{user.usercode},#{user.user_name},#{user.user_phone},#{user.user_email})
    </foreach>
  </insert>


  <select id="selectUserByIds" resultMap="BaseResultMap" >
    SELECT id,cuserid,usercode,ifnull(er_user.user_name,'') as user_name,ifnull(er_user.user_phone,'') as user_phone,ifnull(er_user.user_email,'') as user_email from er_user WHERE cuserid IN
    <foreach collection="list" item="user" index="index" separator="," open="(" close=")">
      #{user.cuserid}

    </foreach>

  </select>
</mapper>